@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.column-wrapper {
    flex: 1;
    min-width: 320px;
    max-width: 450px;
    background: var(--panel-bg);
    backdrop-filter: blur(16px);
    border-bottom: 1px solid var(--border-light);
    border-radius: 35px;
    padding: 0;
    display: flex;
    flex-direction: column;

    max-height: calc(100vh - 60px - 48px);
    overflow-y: auto;
    position: relative;
    scrollbar-width: none;
}
.column-wrapper::-webkit-scrollbar {
    display: none;
}

.column-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(12 12 12 / 0.59);
    border-radius: 36px;
    padding: 25px 30px;
    margin-right: 2%;
    box-sizing: border-box;
    backdrop-filter: blur(10px);


    box-shadow:
            inset 0 1px 6px 1px rgb(255 255 255 / 0.1),
            5px 8px 12px 1px rgb(0 0 0 / 0.38);
    border-bottom: 1px solid var(--border-light);

    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    flex-shrink: 0;
}
.column-content {
    padding: 16px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /*flex-grow: 1;*/
    /*overflow-y: auto;*/
    /*margin-top: 16px;*/
}