.projects-selector-container {
    display: flex;
    width: 100%;
    min-height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.projects-selector {
    display: flex;
    height: 30%;
    width: 25%;
}